{% extends 'base.html.twig' %}

{% block title %}Allocinoche !
{% endblock %}
{% block body %}
	<style>
		body {
			background: #ffc107;
		}
	</style>

	<nav class="navbar navbar-expand-lg bg-warning">
		<div class="container-fluid">
			<img class="mx-2 rounded" style="width: 50px; height: 50px;" src="{{ asset('build/image/allocinoche.jpg') }}">
			<a class="navbar-brand" href="{{path('app_allo_cine')}}">Allocinoche</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="{{path('app_allo_cine_movielist')}}">Films</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_allo_cine_actorlist')}}">Acteurs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_allo_cine_directorlist')}}">
							Réalisateurs
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Par genre
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{path('app_allo_cine_moviecategory', {'categoryId': 3}) }}">Action</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{path('app_allo_cine_moviecategory', {'categoryId': 5}) }}">Animation</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{path('app_allo_cine_moviecategory', {'categoryId': 11}) }}">Arts & essais</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{path('app_allo_cine_moviecategory', {'categoryId': 9}) }}">Comédie</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{path('app_allo_cine_moviecategory', {'categoryId': 4}) }}">Comédie dramatique</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{path('app_allo_cine_moviecategory', {'categoryId': 8}) }}">Drame</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{path('app_allo_cine_moviecategory', {'categoryId': 13}) }}">Epouvante-Horreur</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{path('app_allo_cine_moviecategory', {'categoryId': 7}) }}">Famille</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{path('app_allo_cine_moviecategory', {'categoryId': 6}) }}">Fantastique</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{path('app_allo_cine_moviecategory', {'categoryId': 14}) }}">Policier</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{path('app_allo_cine_moviecategory', {'categoryId': 1}) }}">Porno</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{path('app_allo_cine_moviecategory', {'categoryId': 10}) }}">Romance</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{path('app_allo_cine_moviecategory', {'categoryId': 2}) }}">Science-fiction</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{path('app_allo_cine_moviecategory', {'categoryId': 12}) }}">Thriller</a>
							</li>

						</ul>
					</li>

				</ul>
			</div>
		</div>
	</nav>
	<div class="container px-2 py-2 mt-2 bg-warning">
		<ul class="navbar-nav me-auto px-4 py-2 mb-2 mb-lg-0 bg-white rounded">
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_form_movie')}}">Ajout de films</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_form_actor')}}">Ajout d'acteurs</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_form_director')}}">
					Ajout de réalisateurs
				</a>
			</li>
		</ul>
	</div>

{% endblock %}
